/* You can add global styles to this file, and also import other style files */
@import "~@angular/cdk/overlay-prebuilt.css";

:root {
  --c-background: #eae7dc;
  --c-background-accent: #d8c3a5;
  --c-text: #8e8d8a;
  --c-text-accent: #000;
  --c-secondary: #e98074;
  --c-secondary-accent: #e85a4f;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--c-background);
  color: var(--c-text);
}

h1 {
  color: var(--c-secondary-accent);
}

h2 {
  color: var(--c-secondary);
}

.ngx-tourguide--button {
  color: var(--c-text-accent);
  background-color: var(--c-secondary-accent);
  border: 1px solid transparent;
  padding: 0.25rem 0.5rem;

  &:focus-visible {
    outline: none;
    border-color: #296abd;
  }

  &:hover,
  &:active {
    color: #fff;
    background-color: var(--c-secondary);
  }

  &:active {
    border-color: transparent;
    box-shadow: inset 2px 3px 6px rgb(0 0 0 / 20%),
      inset -3px -2px 6px rgb(255 255 255 / 20%);
  }
}

.ngx-tour-guide {
  .tour-guide--container {
    padding: 1rem;
    border: none;
    border-radius: 0 0.5rem;
    background: var(--c-background-accent);
    &:not(.tour-guide--skip) {
      box-shadow: 0px 0px 25px var(--c-background);
    }
  }

  .tour-guide--overlay {
    background-color: rgba(4, 15, 17, 0.75);
    backdrop-filter: none;
  }

  .tour-guide--stop {
    .stop-title {
      color: var(--c-secondary);
      text-transform: uppercase;
      padding-bottom: 0.25rem;
      position: relative;
      font-size: 1.5rem;
      font-weight: 400;
      letter-spacing: 2px;
      margin-bottom: 1rem;

      &::after {
        content: "";
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: var(--c-secondary-accent);
      }
    }

    .stop-counter {
      color: var(--c-text);
      [index] {
        color: var(--c-text-accent);
      }
    }
  }
}
